<html>

<body>
    <h2>Hello world of
        <%= title %>
    </h2>
    <p>Just a paragraph</p>
    <p>This list is composed by
        <%= items.length %> elements:</p>
    <ul>
        <% items.forEach(function(item) { %>
            <li>
                <%= item %>
            </li>
            <% }) %>
    </ul>

    <div>
        <%= desc %>
    </div>
    <div>
        <%= desc_code %>
    </div>

    <!-- With minus (-) we avoid the code appear as just a string -->
    <div>
        <%- desc %>
    </div>
    <div>
        <%- desc_code %>
    </div>
</body>

</html>
